*.class
java/dist/
java/build/

.DS_Store

# Package Files #
# *.jar
*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE-specific settings
.idea/

# Python
*.pyc

demo/saves/
*.log
target/surefire-reports/
